---
const { title } = Astro.props
---

<div class="accordion card">
    <div class="flex items-center">
        <i class="fas fa-arrow-circle-right text-2xl bg-black/30 p-2 py-1 rounded-full" />
        <span class="ml-3">{title}</span>
    </div>
    <div class="hidden">
        <slot />
    </div>
</div>