<footer>
  <div class="container mx-auto py-6 flex items-center justify-between">
    <div>
      <img src="/text-only-light.svg" class="w-24 mb-3" />
      <a href="http://github.com/pulsar-edit" target="_blank"><i class="fab fa-github text-2xl" /></a>
      <a href="https://github.com/orgs/pulsar-edit/discussions" target="_blank"><i class="fas fa-message text-2xl" /></a>
      <a href="https://discord.gg/7aEbB9dGRT" target="_blank"><i class="fab fa-discord text-2xl" /></a>
      <a href="https://www.reddit.com/r/pulsaredit/" target="_blank"><i class="fab fa-reddit text-2xl" /></a>
      <a href="https://fosstodon.org/@pulsaredit" target="_blank"><i class="fab fa-mastodon text-2xl" /></a>
      <a href="https://opencollective.com/pulsar-edit" target="_blank"><i class="fas fa-hand-holding-heart text-2xl" /></a>
    </div>
    <div>
      <a href="/privacy">Privacy Policy</a>
      <a href="/code-of-conducy">Code of Conduct</a>
      <a href="/contact">Contact Us</a>
    </div>
  </div>
</footer>