---
import Base from './Base.astro';
const { frontmatter } = Astro.props
---

<Base {frontmatter}>
    <article class="container mx-auto">
        <h1>{frontmatter.title}</h1>
        <slot />
    </article>
</Base>
